@import "tailwindcss";

/* On indique explicitement à Tailwind v4 où scanner tes classes */
@source "../app/**/*.{js,ts,jsx,tsx,mdx}";
@source "../components/**/*.{js,ts,jsx,tsx,mdx}";

@theme {
  --color-brand-black: #050506;
  --color-brand-dark: #09090b;
  --color-brand-border: #18181b;
  --color-brand-muted: #71717a;
  --color-brand-pure: #ffffff;
}

body {
  background-color: var(--color-brand-black);
  color: #f4f4f5;
  font-family: sans-serif;
}